<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="borders">
	<resultMap id="borderResult" type="borders">
		<result property="userid" column="USER_ID"/>
		<result property="bord_index" column="BORD_INDEX"/>
		<result property="bord_head" column="BORD_HEAD"/>
		<result property="bord_body" column="BORD_BODY"/>
		<result property="bord_count" column="BORD_COUNT"/>
		<result property="bord_date" column="BORD_DATE"/>
	</resultMap>
	
	<insert id="insertborder" parameterType="borders">
		INSERT INTO BORDERS2 VALUES (#{userid},
		#{bord_index},#{bord_head},#{bord_body},
		#{bord_count},#{bord_date})
	</insert>
	
	<select id="selectindex" resultMap="borderResult">
		SELECT * FROM BORDERS2 ORDER BY BORD_INDEX 
	</select>
	
	<select id="selectborder" resultMap="borderResult">
		SELECT * FROM BORDERS2 ORDER BY BORD_INDEX DESC
	</select>
	
	<select id="select_toindex" resultType="borders" parameterType="int">
		SELECT * FROM BORDERS2 where bord_index= #{bord_index}
	</select>
	
	<select id="select_toid" parameterType="String" resultType="borders">
		SELECT * FROM BORDERS2 WHERE USER_ID = #{userid} ORDER BY BORD_INDEX DESC
	</select>
	
	<select id="select_topwd" parameterType="int" resultType="String">
		SELECT USERS2.USER_PWD FROM BORDERS2,USERS2 WHERE USERS2.USER_ID = BORDERS2.USER_ID AND BORDERS2.BORD_INDEX=#{bord_index}
	</select>
	
	<update id="updateborder" parameterType="hashmap">
		update borders2 set bord_count=#{count} where bord_index=#{index}
	</update>
	
	<delete id="deleteborder" parameterType="int">
		DELETE FROM BORDERS2 WHERE BORD_INDEX = #{bord_index}
	</delete>
</mapper>
	 