<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	
	<resultMap id="userResult" type="users">
		<result property="user_id" column="user_id" />
		<result property="user_pwd" column="user_pwd" />
		<result property="user_name" column="user_name" />
		<result property="gender" column="gender" />
		<result property="user_signup" column="user_signup" />
	</resultMap>
	<resultMap id="logResult" type="logs">
		<result property="user_id" column="user_id" />
		<result property="user_history" column="user_history" />
		<result property="permission" column="permission" />
	</resultMap>

	<insert id="insertuser" parameterType="users">
		INSERT INTO USERS2 VALUES (#{user_id},#{user_pwd},#{user_name},#{gender},#{user_signup})
	</insert>
	<insert id="insertlog" parameterType="logs">
		INSERT INTO LOGS VALUES (#{user_id},#{user_history},#{permission})
	</insert>

	<select id="selectid" parameterType="String" resultType="String">
		SELECT USER_ID FROM USERS2 WHERE USER_ID=#{user_id}
	</select> 
		
	<select id="selectpwd_toid" parameterType="String" resultType="String">
		SELECT USER_PWD FROM USERS2 WHERE USER_ID=#{user_id}
	</select>
	
	 <select id="selectid_toname" parameterType="String" resultType="String">
		SELECT USER_ID FROM USERS2 WHERE USER_NAME=#{user_name}
	</select> 
	
	<select id="selectname_toid" parameterType="String" resultType="String">
		SELECT USER_NAME FROM USERS2 WHERE USER_ID=#{user_id}
	</select>
		
	<update id="updateidpwd" parameterType="hashmap">
		UPDATE USERS2 SET USER_PWD=#{pwd} WHERE USER_ID=#{id}
	</update>	
	
	 <delete id="deletelog_toid" parameterType="String">
		DELETE FROM LOGS WHERE USER_ID=#{user_id}
	</delete>


	<delete id="deleteid" parameterType="String">
		DELETE FROM USERS2 WHERE USER_ID=#{user_id}
	</delete>
	
</mapper>
